header {
  background-color: #e8e8e8;
  color: #000000;
  text-align: center;
  height: 380px;
  line-height: 380px;
  padding:20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  margin: 0;
  background-color: #FFFFFF;
}

footer {
  padding: 20px;
  margin-top: auto;
}

/* sidebar — aside */
.container {
  display: flex;
}

aside {
  background-color: #e8e8e8;
  width: 250px;
  padding: 20px;
  box-sizing: border-box;
  border-right-style: groove;
}

a {
  color: #000000;
  text-decoration: none;
}
    a:hover {
      color: #737373;
    }
    a.active {
      color: #000080;
      font-weight: bolder;
    }

aside ul {
  list-style: none;
  padding: 0;
}
aside li {
  margin-bottom: 10px;
}

main {
  flex: 1;
  padding: 20px;
  background-color: #FFFFFF;
  color: #000000;
}

.footer-hr {
  float: left;
  width: 750px;
  background-color: #737373;
}

/* Main Font */
@font-face {
  font-family: 'Roxborough CF' ;
  src: url('roxborough-cf-light.otf') format('truetype');
}

h1 {
  font-size: 60pt;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Roxborough CF", normal, serif;
  font-family: 'Roxborough CF',normal, serif;
  font-weight: lighter;
}

h2 {
  font-size: 25pt;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Montserrat", normal, sans-serif;
  font-family: 'Montserrat',normal, sans-serif;
  font-weight: lighter;
}

p {
  font-size: 20pt;
  text-align: left;
}

#page-selec {
  background-color: #002366;
}

/* Selecteur de page — footer */
.pagination {
      display: inline-block;
      margin-left: 20px;
      float: left;
      margin-bottom: 100px;
    }
    .pagination a {
      color: black;
      padding: 8px 16px;
      text-decoration: none;
      border: 1px solid #000000;
      margin: 2px;
    }
    .pagination a:hover {
      background-color: #737373;
      color: #FFFFFF;
    }
    .pagination a.active {
      background-color: #1B3C53;
      color: white;
      border: 1px solid #1B3C53;
    }
}
#loginButton {
  float: right;
}

.Navigation-top {
  background-color: #e8e8e8;
  display: flex;
  align-items: center;
  gap: 5vw;
  white-space: nowrap;
  padding-left: 1vw;
  padding-top: 1vh;
}

.btn {
  padding: 10px 60px;
  background: white;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 30px;
}

.popup {
  width: 60vw;
  height: 60vh;
  background: #ADD8E6;
  border-radius: 25px;
  position: fixed;
  z-index: 9999999;
  top: 0;
  bottom: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  margin-left: 50vw;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #1B3C53;
  color: white;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
