header {
  background-color: #e8e8e8;
  color: #000000;
  text-align: center;
  height: 380px;
  line-height: 380px;
  padding:20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  margin: 0;
  background-color: #FFFFFF;
}

footer {
  padding: 20px;
  margin-top: auto;
}

/* sidebar — aside */
.container {
  display: flex;
}

aside {
  background-color: #e8e8e8;
  width: 250px;
  padding: 20px;
  box-sizing: border-box;
  border-right-style: groove;
}

a {
  color: #000000;
  text-decoration: none;
}
    a:hover {
      color: #737373;
    }
    a.active {
      color: #000080;
      font-weight: bolder;
    }

aside ul {
  list-style: none;
  padding: 0;
}
aside li {
  margin-bottom: 10px;
}

main {
  flex: 1;
  padding: 20px;
  background-color: #FFFFFF;
  color: #000000;
}

.footer-hr {
  float: left;
  width: 750px;
  background-color: #737373;
}

/* Main Font */
@font-face {
  font-family: 'Roxborough CF' ;
  src: url('roxborough-cf-light.otf') format('truetype');
}

h1 {
  font-size: 60pt;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Roxborough CF", normal, serif;
  font-family: 'Roxborough CF',normal, serif;
  font-weight: lighter;
}

h2 {
  font-size: 25pt;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Montserrat", normal, sans-serif;
  font-family: 'Montserrat',normal, sans-serif;
  font-weight: lighter;
}

p {
  font-size: 20pt;
  text-align: left;
}

#page-selec {
  background-color: #002366;
}

/* Selecteur de page — footer */
.pagination {
      display: inline-block;
      margin-left: 20px;
      float: left;
      margin-bottom: 100px;
    }
    .pagination a {
      color: black;
      padding: 8px 16px;
      text-decoration: none;
      border: 1px solid #000000;
      margin: 2px;
    }
    .pagination a:hover {
      background-color: #737373;
      color: #FFFFFF;
    }
    .pagination a.active {
      background-color: #1B3C53;
      color: white;
      border: 1px solid #1B3C53;
    }
