.img-stack-1 {
  position: relative;
  top: 0;
  left: 0;
}

#img-01 {
  float: right;
  width: 83.2vh;
  height: 125.2vh;
  position: relative;
  margin-top: 0vh;
  margin-bottom: 0vh;
  margin-right: 0vw:
  top: 0vh;
  right: 0vw;
}

#img-cover-1 {
  width: 83.2vh;
  height: 125.2vh;
  position: absolute;
  top: 0vh;
  right: 0vw;
  opacity: 55%;
}

.Titre-2_page-V {
  text-align: left;
}

.hr-1 {
  float: left;
  width: 45vw;
  background-color: #737373;
}

.hr-2 {
  float: right;
  width: 45vw;
  background-color: #737373;
}

.img-stack-1 {
  position: relative;
  top: 0;
  left: 0;
}

#img-02 {
  float: left;
  width: 83.7vh;
  height: 126.8vh;
  position: relative;
  margin-top: 0vh;
  margin-bottom: 1.4vw;
  margin-right: 0vw:
  top: 0vh;
  left: 0vw;
}

#img-cover-2 {
  width: 83.7vh;
  height: 126.8vh;
  position: absolute;
  top: 117.6vh;
  left: 1.4vw;
  opacity: 55%;
}

.p-2 {
  float: right;
}
